flows.json
[
    {
        "id": "b994d15a.89c23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1b260dec.8a96b2",
        "type": "tab",
        "label": "PWM test",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d494211d.17046",
        "type": "tab",
        "label": "Machine Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35dd499b.01a916",
        "type": "tab",
        "label": "Machine Actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f0de7bc.a4daa8",
        "type": "subflow",
        "name": "Stepper Pulses",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "3e82ebbb.4acadc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1320,
                "y": 320,
                "wires": [
                    {
                        "id": "b37498a5.e0156",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 380,
                "wires": [
                    {
                        "id": "d9ec87cb.c96608",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "5dd3baf0.31563c",
        "type": "subflow",
        "name": "Stepper Distance",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 40,
                "wires": [
                    {
                        "id": "ddb2baf8.535a88"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 20,
                "wires": [
                    {
                        "id": "a6117ff0.ed8fb",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 80,
                "wires": [
                    {
                        "id": "a6117ff0.ed8fb",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "ee8236a3.7cf7c8",
        "type": "subflow",
        "name": "Limit Switches",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 880,
                "y": 180,
                "wires": [
                    {
                        "id": "ac630bce.052528",
                        "port": 0
                    },
                    {
                        "id": "48e35281.2df614",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "78eabbd8.6c2dbc",
        "type": "subflow",
        "name": "Go Home",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "eb8819cd.ec60d"
                    },
                    {
                        "id": "d6dd9b58.7d00b8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1440,
                "y": 120,
                "wires": [
                    {
                        "id": "38a2e467.27e6cc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "a4de32d5.4d7bb",
        "type": "subflow",
        "name": "Drill Up and Down",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 180,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 980,
                "y": 180,
                "wires": []
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "289569eb.ed7136",
        "type": "subflow",
        "name": "Run Full Cycle",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 340,
                "wires": []
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "24fd40b4.361c5",
        "type": "subflow",
        "name": "Move Side One Grid Unit",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 200,
                "wires": [
                    {
                        "id": "c94d2eaa.1745c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 180,
                "wires": [
                    {
                        "id": "ed33312c.d1f158",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 240,
                "wires": [
                    {
                        "id": "ed33312c.d1f158",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "1f486bbe.2722dc",
        "type": "subflow",
        "name": "Calibrate Max",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "ad13c993.2a5bd8"
                    },
                    {
                        "id": "4689d84f.74b54"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 120,
                "wires": [
                    {
                        "id": "bef5d326.492dc8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "f30d0fc.6c9fdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d741f87.120d9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64b07586.8c0c44",
        "type": "ui_group",
        "name": "Standard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc7dab5f.c3f838",
        "type": "ui_group",
        "name": "Machine Calibration",
        "tab": "873084f2.462fe8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a0c54756.0480d8",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "873084f2.462fe8",
        "type": "ui_tab",
        "name": "Machine Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26a03a7.87265c6",
        "type": "ui_group",
        "name": "Machine Actions",
        "tab": "873084f2.462fe8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91c2e7e9.4deab8",
        "type": "ui_group",
        "name": "Machine Config",
        "tab": "873084f2.462fe8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9701fa46.351088",
        "type": "ui_group",
        "name": "Machine Config Preview",
        "tab": "873084f2.462fe8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fa964865.1a966",
        "type": "ui_group",
        "name": "Machine Debug",
        "tab": "873084f2.462fe8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e1bc1b7e.059e18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fa964865.1a966",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "93609213.3351a",
        "type": "exec",
        "z": "ee8236a3.7cf7c8",
        "command": "adc-exp -j 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "e88e94c2.2a581"
            ],
            [],
            []
        ]
    },
    {
        "id": "f68ba438.461b3",
        "type": "inject",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": true,
        "onceDelay": ".5",
        "topic": "",
        "payload": "0",
        "payloadType": "msg",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "93609213.3351a"
            ]
        ]
    },
    {
        "id": "5d97b609.8afe",
        "type": "exec",
        "z": "ee8236a3.7cf7c8",
        "command": "adc-exp -j 0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "866f2607.5107f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "63fdb6ec.da1f48",
        "type": "inject",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": ".5",
        "crontab": "",
        "once": true,
        "onceDelay": ".5",
        "topic": "",
        "payload": "0",
        "payloadType": "msg",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "5d97b609.8afe"
            ]
        ]
    },
    {
        "id": "ddb2baf8.535a88",
        "type": "function",
        "z": "5dd3baf0.31563c",
        "name": "convert meters to pulses",
        "func": "if (msg.topic !== \"moveX\") return msg\n\nconst { distance, direction, speed } = msg.payload\n\nreturn {\n  topic: \"pulseX\",\n  payload: {\n    count: distance * global.get(\"pulsesPerMeter\"),\n    direction,\n    speed\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "a6117ff0.ed8fb"
            ]
        ]
    },
    {
        "id": "a6117ff0.ed8fb",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "5dd3baf0.31563c",
        "name": "",
        "x": 580,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ff237c4d.5d766",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio pulses 18 ",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "d9ec87cb.c96608"
            ]
        ]
    },
    {
        "id": "88095671.fcc0b",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "366413ee.5e7e54"
            ]
        ]
    },
    {
        "id": "76e4df9.ddc04a",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "f6a58db3.43b1b"
            ]
        ]
    },
    {
        "id": "366413ee.5e7e54",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGINT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "ff237c4d.5d766"
            ]
        ]
    },
    {
        "id": "f6a58db3.43b1b",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGINT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "ff237c4d.5d766"
            ]
        ]
    },
    {
        "id": "c440a415.45b718",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "switch payload.direction",
        "property": "payload.direction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 100,
        "wires": [
            [
                "64c95bd2.bb373c"
            ],
            [
                "a67e4602.384fd"
            ]
        ]
    },
    {
        "id": "684e6cd0.e310cc",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set flow.pulse = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "pulse",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 140,
        "wires": [
            [
                "c440a415.45b718"
            ]
        ]
    },
    {
        "id": "64c95bd2.bb373c",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set 11 0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a67e4602.384fd",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set 11 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "39ecff13.6d2d48",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "omega2-ctrl gpiomux set pwm0 gpio",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "a4ec6688.ac15e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a4ec6688.ac15e8",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set-output 18",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 980,
        "y": 580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c0e7ebdd.ec75c",
        "type": "inject",
        "z": "8f0de7bc.a4daa8",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "39ecff13.6d2d48",
                "49d37433.c3ddb4"
            ]
        ]
    },
    {
        "id": "49d37433.c3ddb4",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set-output 11",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "475e9345.d230dc",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set msg.payload = flow.pulse.count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pulse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "6337a846.34ee2"
            ]
        ]
    },
    {
        "id": "4be3d70b.ed6cf",
        "type": "complete",
        "z": "8f0de7bc.a4daa8",
        "name": "after direction set",
        "scope": [
            "64c95bd2.bb373c",
            "a67e4602.384fd"
        ],
        "uncaught": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "475e9345.d230dc"
            ]
        ]
    },
    {
        "id": "b37498a5.e0156",
        "type": "function",
        "z": "8f0de7bc.a4daa8",
        "name": "update global.positionXInPulses",
        "func": "const pulse = flow.get(\"pulse\")\nconst { count, direction } = pulse\n\nconst countVelocity =\n  direction === \"left\"\n    ? count\n    : direction === \"right\"\n      ? -count\n      : 0\n\nconst prevPositionX = global.get(\"positionXInPulses\")\nconst nextPositionX = prevPositionX + countVelocity\n\nglobal.set(\"positionXInPulses\",  nextPositionX)\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1110,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a191c67d.91a57",
        "type": "while-loop",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "condi": "global.get(\"limitXMin\") === false ",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "dee13df7.422d5"
            ],
            [
                "1f117547.f829eb"
            ]
        ]
    },
    {
        "id": "dee13df7.422d5",
        "type": "while-loop",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "condi": "global.get(\"limitXMin\") === true",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "38a2e467.27e6cc"
            ],
            [
                "4dfb1135.8fb99"
            ]
        ]
    },
    {
        "id": "e80f19a6.3eabc",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "a191c67d.91a57"
            ],
            [
                "a191c67d.91a57"
            ]
        ]
    },
    {
        "id": "d1191c99.e62668",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "dee13df7.422d5"
            ],
            [
                "dee13df7.422d5"
            ]
        ]
    },
    {
        "id": "d1c85ac8.53d0e",
        "type": "function",
        "z": "8f0de7bc.a4daa8",
        "name": "ensure not at limits",
        "func": "const { count, direction, speed } = msg.payload\n\n\n// if limit switches set, don't move further towards them\nif (\n  (direction === \"left\" && global.get(\"limitXMax\"))\n  || (direction === \"right\" && global.get(\"limitXMin\"))\n) {\n  return\n}\n\n// if not homed, only allowed to go at slow speed\nif (!global.get(\"hasHome\") && speed === \"slow\") {\n  return msg\n}\n\n// if pulses will move beyond min / max, don't move\nconst countVelocity =\n  direction === \"left\"\n    ? count\n    : direction === \"right\"\n      ? -count\n      : 0\nconst prevPositionX = global.get(\"positionXInPulses\")\nconst nextPositionX = prevPositionX + countVelocity\nif (\n  (nextPositionX < 0)\n  || (nextPositionX > global.get(\"maxDistanceXInPulses\"))\n) {\n  return\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "684e6cd0.e310cc"
            ]
        ]
    },
    {
        "id": "ef84ec6a.bb5538",
        "type": "ui_text",
        "z": "ee8236a3.7cf7c8",
        "group": "fa964865.1a966",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Limit X Min",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3152fee.b181b",
        "type": "ui_text",
        "z": "ee8236a3.7cf7c8",
        "group": "fa964865.1a966",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Limit X Max",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e82ebbb.4acadc",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "switch on msg.topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pulseX",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "limitXMin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "limitXMax",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "d236bfaa.f297d8"
            ],
            [
                "a3b9d16b.dc066"
            ],
            [
                "dded9fb9.ca8be8"
            ]
        ]
    },
    {
        "id": "a3b9d16b.dc066",
        "type": "link out",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "7c9f2b6b.3275e4"
        ],
        "x": 355,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c9f2b6b.3275e4",
        "type": "link in",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "a3b9d16b.dc066"
        ],
        "x": 335,
        "y": 420,
        "wires": [
            [
                "88095671.fcc0b"
            ]
        ]
    },
    {
        "id": "fc3a3739.bfa0d8",
        "type": "link in",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "dded9fb9.ca8be8"
        ],
        "x": 335,
        "y": 480,
        "wires": [
            [
                "76e4df9.ddc04a"
            ]
        ]
    },
    {
        "id": "dded9fb9.ca8be8",
        "type": "link out",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "fc3a3739.bfa0d8"
        ],
        "x": 355,
        "y": 180,
        "wires": []
    },
    {
        "id": "da8738e4.5b623",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitXMin",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1a797a49.9b81c6",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitXMax",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "48e35281.2df614",
        "type": "rbe",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "da8738e4.5b623",
                "ef84ec6a.bb5538"
            ]
        ]
    },
    {
        "id": "ac630bce.052528",
        "type": "rbe",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "1a797a49.9b81c6",
                "f3152fee.b181b"
            ]
        ]
    },
    {
        "id": "741753e5.390254",
        "type": "debug",
        "z": "8f0de7bc.a4daa8",
        "name": "debug stepper pulse input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 20,
        "wires": []
    },
    {
        "id": "bed71cf4.37b5e",
        "type": "subflow:a4de32d5.4d7bb",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 750,
        "y": 480,
        "wires": [
            [
                "3a376647.46e26a"
            ]
        ]
    },
    {
        "id": "b0764283.1ea2d",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "bed71cf4.37b5e"
            ]
        ]
    },
    {
        "id": "fb30550b.60f5c8",
        "type": "subflow:24fd40b4.361c5",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 770,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a376647.46e26a",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "fb30550b.60f5c8"
            ]
        ]
    },
    {
        "id": "51b5ec9a.4d2874",
        "type": "counter-loop",
        "z": "289569eb.ed7136",
        "name": "",
        "counter": "il51b5ec9a4d2874",
        "counterType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "initial": 0,
        "initialType": "num",
        "operator": "lt",
        "termination": "numberOfStepsPerCycle",
        "terminationType": "global",
        "increment": 1,
        "incrementType": "num",
        "x": 780,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e53de19.e3db6",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "relay-exp ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Execute Relay Control ",
        "x": 1940,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f7c1a3bf.66a4c",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 1 ON",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 740,
        "wires": [
            [
                "59d083e0.70e55c"
            ]
        ]
    },
    {
        "id": "184b6a4b.2ece06",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "DOWN (RELAY 1) Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DOWN",
        "payloadType": "str",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "7b204ac4.5d2974"
            ]
        ]
    },
    {
        "id": "5e672164.7cd78",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "Relay 1 ON?",
        "property": "Relay1_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 760,
        "wires": [
            [
                "f7c1a3bf.66a4c"
            ],
            [
                "b6c055e2.21bb38"
            ]
        ]
    },
    {
        "id": "b6c055e2.21bb38",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 1 OFF",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 780,
        "wires": [
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "f5d7d1.a4b8783",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "close relay after delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 760,
        "wires": [
            [
                "7a27fdb7.4235a4"
            ]
        ]
    },
    {
        "id": "59d083e0.70e55c",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "check relay 0 is off",
        "property": "Relay0_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 680,
        "wires": [
            [],
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "1821eb84.f275a4",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "77f0363a.b673a8",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button LOCKED",
        "rules": [
            {
                "t": "set",
                "p": "DOWN_STATUS",
                "pt": "flow",
                "to": "locked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down button locked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 860,
        "wires": [
            [
                "5e672164.7cd78",
                "b0ed5ba1.b28ef8"
            ]
        ]
    },
    {
        "id": "7b204ac4.5d2974",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "ignore re-pressing",
        "property": "DOWN_STATUS",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 800,
        "wires": [
            [],
            [
                "f5d7d1.a4b8783",
                "77f0363a.b673a8"
            ]
        ]
    },
    {
        "id": "7a27fdb7.4235a4",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button UNLOCKED",
        "rules": [
            {
                "t": "set",
                "p": "DOWN_STATUS",
                "pt": "flow",
                "to": "unlocked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down button unlocked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 820,
        "wires": [
            [
                "5e672164.7cd78",
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "9533b6.86eafc48",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "relay1 off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 360,
        "y": 940,
        "wires": [
            [
                "1821eb84.f275a4"
            ]
        ]
    },
    {
        "id": "67d190e7.ef9c7",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a7acc076.3711",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "relay 0 off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "67d190e7.ef9c7"
            ]
        ]
    },
    {
        "id": "47415055.76855",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 0 ON",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 580,
        "wires": [
            [
                "d6ad81a4.6bcdb"
            ]
        ]
    },
    {
        "id": "cb975ba4.8b8448",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "UP (RELAY 0) Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "UP",
        "payloadType": "str",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "b97ef811.4818c8"
            ]
        ]
    },
    {
        "id": "8517a213.fec7d",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "Relay 0 ON?",
        "property": "Relay0_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "47415055.76855"
            ],
            [
                "ed977d46.41afa"
            ]
        ]
    },
    {
        "id": "ed977d46.41afa",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 0 OFF",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 620,
        "wires": [
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "e91bc303.4d349",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "close relay after delay",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "9b66788a.faa3a8"
            ]
        ]
    },
    {
        "id": "d6ad81a4.6bcdb",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "check relay 1 is off",
        "property": "Relay1_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 580,
        "wires": [
            [],
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "6753eab2.641c04",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button LOCKED",
        "rules": [
            {
                "t": "set",
                "p": "UP_STATUS",
                "pt": "flow",
                "to": "locked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up button locked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "8517a213.fec7d",
                "b690fd4d.0f1a9"
            ]
        ]
    },
    {
        "id": "b97ef811.4818c8",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "ignore re-pressing",
        "property": "UP_STATUS",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 560,
        "wires": [
            [],
            [
                "e91bc303.4d349",
                "6753eab2.641c04"
            ]
        ]
    },
    {
        "id": "9b66788a.faa3a8",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button UNLOCKED",
        "rules": [
            {
                "t": "set",
                "p": "UP_STATUS",
                "pt": "flow",
                "to": "unlocked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up button unlocked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 580,
        "wires": [
            [
                "8517a213.fec7d",
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "60b7aa76.1949b4",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set uart2 pwm23",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Inititalize Status LED",
        "x": 1540,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "56119893.28dbd8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\x00\\xff\\x00' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED GREEN",
        "x": 1150,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b690fd4d.0f1a9",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\xff\\x00\\x00' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED RED",
        "x": 1160,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b0ed5ba1.b28ef8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\x00\\x00\\xff' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED BLUE",
        "x": 1180,
        "y": 900,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8f153935.c97878",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "initialise PWM pins and LEDs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 160,
        "wires": [
            [
                "c8ff7cf.c91fe8",
                "60b7aa76.1949b4"
            ]
        ],
        "icon": "font-awesome/fa-exclamation"
    },
    {
        "id": "c8ff7cf.c91fe8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set pwm0 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1590,
        "y": 180,
        "wires": [
            [
                "9dcd1b0d.acb748"
            ],
            [],
            []
        ]
    },
    {
        "id": "9dcd1b0d.acb748",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set pwm1 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1930,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "82c4e4cd.581c88",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 10 500",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "5e5e1359.46f29c"
            ],
            [],
            []
        ]
    },
    {
        "id": "e923bfe5.529cb",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 disable",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "433c7bde.dab144"
            ],
            [],
            []
        ]
    },
    {
        "id": "ea03f5a8.18dea8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "start stepper motor SLOW",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "82c4e4cd.581c88"
            ]
        ],
        "icon": "font-awesome/fa-play"
    },
    {
        "id": "f0cc58b3.bb6c08",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "stop stepper motor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "msg",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "e923bfe5.529cb"
            ]
        ],
        "icon": "font-awesome/fa-square"
    },
    {
        "id": "433c7bde.dab144",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b72d593.edf7d8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Left",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "dacfa964.086438"
            ]
        ]
    },
    {
        "id": "dacfa964.086438",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "a8a1e955.1eac88",
                "82c4e4cd.581c88"
            ],
            [
                "a8a1e955.1eac88"
            ],
            [
                "a8a1e955.1eac88"
            ]
        ]
    },
    {
        "id": "afcb33d3.5b395",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Right",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "dacfa964.086438"
            ]
        ]
    },
    {
        "id": "9abcb99c.10fd98",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 960,
        "wires": [
            [
                "b0ed5ba1.b28ef8"
            ]
        ]
    },
    {
        "id": "c4b99127.bcf75",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 700,
        "wires": [
            [
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "43233ab7.4f2764",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 460,
        "wires": [
            [
                "b690fd4d.0f1a9"
            ]
        ]
    },
    {
        "id": "a8a1e955.1eac88",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "81511872.2c9368",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 1 2400",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "5e5e1359.46f29c"
            ],
            [],
            []
        ]
    },
    {
        "id": "6a47bfca.bf997",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "start stepper motor FAST",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "81511872.2c9368"
            ]
        ],
        "icon": "font-awesome/fa-play"
    },
    {
        "id": "5e5e1359.46f29c",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "e923bfe5.529cb"
            ]
        ]
    },
    {
        "id": "da8888e0.8eabe8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Left",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d0b42cef.ec22c"
            ]
        ]
    },
    {
        "id": "d0b42cef.ec22c",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "77d62dc9.1252a4",
                "81511872.2c9368"
            ],
            [
                "77d62dc9.1252a4"
            ],
            [
                "77d62dc9.1252a4"
            ]
        ]
    },
    {
        "id": "43275c92.f4d404",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Right",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "d0b42cef.ec22c"
            ]
        ]
    },
    {
        "id": "77d62dc9.1252a4",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "13dd767f.c1a07a",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 50 5000",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "91a34029.4fdef"
            ],
            [
                "91a34029.4fdef"
            ],
            [
                "91a34029.4fdef"
            ]
        ]
    },
    {
        "id": "15b88fac.31fa",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "13dd767f.c1a07a"
            ]
        ]
    },
    {
        "id": "9e2394ee.806838",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set pwm1 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 930,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dee41255.64496",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set pwm0 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "9e2394ee.806838"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e0fcc3e.32c5d4",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "initialise PWM pins and LEDs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "dee41255.64496",
                "21ef1942.e71f76"
            ]
        ],
        "icon": "font-awesome/fa-exclamation"
    },
    {
        "id": "21ef1942.e71f76",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set uart2 pwm23",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Inititalize Status LED",
        "x": 540,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "91a34029.4fdef",
        "type": "debug",
        "z": "1b260dec.8a96b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "98fc6ac4.fe8d98",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 1000 50",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "612e524b.1cf4fc",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "98fc6ac4.fe8d98"
            ]
        ]
    },
    {
        "id": "bc430050.85d69",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "38951887.99b4e8"
            ]
        ]
    },
    {
        "id": "38951887.99b4e8",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "d18f6a53.b9d528"
            ],
            [
                "d18f6a53.b9d528"
            ],
            [
                "d18f6a53.b9d528"
            ]
        ]
    },
    {
        "id": "c0dfbc88.52ecb",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "38951887.99b4e8"
            ]
        ]
    },
    {
        "id": "d18f6a53.b9d528",
        "type": "debug",
        "z": "1b260dec.8a96b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "5ce41b26.7e86a4",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 disable",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b64b1c4a.75619",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "stop stepper motor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "msg",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "5ce41b26.7e86a4"
            ]
        ],
        "icon": "font-awesome/fa-square"
    },
    {
        "id": "df4b8322.7bdd9",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfStepsPerCycle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "92dfa816.3848e8",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Number of steps per cycle",
        "label": "Number of steps per cycle",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "f48ac120.12d8f"
            ]
        ]
    },
    {
        "id": "b09fade1.64055",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Number of steps per cycle",
        "label": "Number of steps per cycle",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "497ff420.ab494c",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "92dfa816.3848e8"
            ]
        ]
    },
    {
        "id": "dfc56ee1.6ffd1",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "horizontalMaxSpeedInMetersPerSecond",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "64d62a81.5f11b4",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Horizontal max speed",
        "label": "Horizontal max speed (m/s)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "9564725d.5972e"
            ]
        ]
    },
    {
        "id": "e5d5fe28.e9e61",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Horizontal max speed",
        "label": "Horizontal max speed (m/s)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb81bb16.649c48",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "64d62a81.5f11b4"
            ]
        ]
    },
    {
        "id": "2d7c056e.9c1e8a",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "verticalMaxSpeedInMetersPerSecond",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ba7a94b.a823e68",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Vertical max speed",
        "label": "Vertical max speed (m/s)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "5ff370f2.f1ac"
            ]
        ]
    },
    {
        "id": "d37d6b3.b912898",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vertical max speed",
        "label": "Vertical max speed (m/s)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "dc4e571d.396218",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "ba7a94b.a823e68"
            ]
        ]
    },
    {
        "id": "d97bc331.4827c",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "drillMotorSpeedInRpm",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "391d7e9.35b5482",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Drill motor speed",
        "label": "Drill motor speed (rpm)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "c0b0da34.f49658"
            ]
        ]
    },
    {
        "id": "dae5e833.ae22a8",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Drill motor speed",
        "label": "Drill motor speed (rpm)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c42e30c.93754",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "391d7e9.35b5482"
            ]
        ]
    },
    {
        "id": "1edc3699.22f189",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Go to home",
        "group": "26a03a7.87265c6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go to home",
        "tooltip": "",
        "color": "",
        "bgcolor": "#606060",
        "icon": "fa-home",
        "payload": "true",
        "payloadType": "bool",
        "topic": "home",
        "topicType": "str",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "6ffa261b.9545b8",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "452fa8dd.185508",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Drill up and down",
        "group": "26a03a7.87265c6",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Drill up and down",
        "tooltip": "",
        "color": "",
        "bgcolor": "#1976d2",
        "icon": "fa-step-arrows-v",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "c36fd1f1.88641",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "cebe492a.cd36b8",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Start full cycle",
        "group": "26a03a7.87265c6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start full cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "#388e3c",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "ecad79ed.5b1968",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "c7075699.66ddc8",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Stop cycle",
        "group": "26a03a7.87265c6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "#d32f2f",
        "icon": "fa-stop",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "195a6e22.ad9082",
        "type": "ui_text",
        "z": "35dd499b.01a916",
        "group": "26a03a7.87265c6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Machine status",
        "label": "Machine status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "354f9bb.1007564",
        "type": "inject",
        "z": "35dd499b.01a916",
        "name": "Initialize as stopped",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "ecad79ed.5b1968",
        "type": "subflow:289569eb.ed7136",
        "z": "35dd499b.01a916",
        "name": "",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "469b1d8.1c22ce4",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "machine status = stopped",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "machineStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "195a6e22.ad9082"
            ]
        ]
    },
    {
        "id": "6611391e.44f948",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "machine status = started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "started",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "machineStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "195a6e22.ad9082"
            ]
        ]
    },
    {
        "id": "6ffa261b.9545b8",
        "type": "subflow:78eabbd8.6c2dbc",
        "z": "35dd499b.01a916",
        "name": "",
        "env": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "c36fd1f1.88641",
        "type": "subflow:a4de32d5.4d7bb",
        "z": "35dd499b.01a916",
        "name": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "3207ac36.188044",
        "type": "subflow:24fd40b4.361c5",
        "z": "35dd499b.01a916",
        "name": "",
        "env": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ],
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "5b19045d.3b225c",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "35dd499b.01a916",
        "name": "",
        "x": 780,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8ae2b620.133ba8",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "",
        "group": "fa964865.1a966",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pulse",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pulse",
        "payloadType": "flow",
        "topic": "pulse",
        "topicType": "str",
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "c9ea83be.1bf9e"
            ]
        ]
    },
    {
        "id": "a812ddf9.e16a1",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse.count",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c868521a.96d52",
        "type": "ui_switch",
        "z": "35dd499b.01a916",
        "name": "",
        "label": "Pulse direction (on = left, off = right)",
        "tooltip": "",
        "group": "fa964865.1a966",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "pulseDirection",
        "topicType": "str",
        "style": "",
        "onvalue": "left",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "right",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "2c34a1bf.b46ece"
            ]
        ]
    },
    {
        "id": "3b2cdbb3.e7fd24",
        "type": "inject",
        "z": "35dd499b.01a916",
        "name": "left",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "x": 400,
        "y": 1120,
        "wires": [
            [
                "c868521a.96d52"
            ]
        ]
    },
    {
        "id": "2c34a1bf.b46ece",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse.direction",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ea83be.1bf9e",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pulse",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pulseX",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "5b19045d.3b225c"
            ]
        ]
    },
    {
        "id": "310b316f.c2c9ae",
        "type": "ui_text_input",
        "z": "35dd499b.01a916",
        "name": "Pulse count",
        "label": "Pulse count",
        "tooltip": "",
        "group": "fa964865.1a966",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "c4057d9d.ac04f"
            ]
        ]
    },
    {
        "id": "c4057d9d.ac04f",
        "type": "function",
        "z": "35dd499b.01a916",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 10000)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "a812ddf9.e16a1"
            ]
        ]
    },
    {
        "id": "193c67d9.4b66c8",
        "type": "inject",
        "z": "35dd499b.01a916",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "310b316f.c2c9ae"
            ]
        ]
    },
    {
        "id": "62ac1b7f.c83324",
        "type": "link out",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "91a321d4.d51e2",
            "fb15ea10.3a3c48",
            "7bffe223.16391c",
            "6c0f17da.5eafe8",
            "e31159e9.e03e88",
            "13e2bb3a.e582b5",
            "2899590b.9ff636"
        ],
        "x": 1345,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb15ea10.3a3c48",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 655,
        "y": 940,
        "wires": [
            [
                "5b19045d.3b225c"
            ]
        ]
    },
    {
        "id": "7bffe223.16391c",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 395,
        "y": 140,
        "wires": [
            [
                "6ffa261b.9545b8"
            ]
        ]
    },
    {
        "id": "6c0f17da.5eafe8",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 355,
        "y": 260,
        "wires": [
            [
                "c36fd1f1.88641"
            ]
        ]
    },
    {
        "id": "e31159e9.e03e88",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 355,
        "y": 420,
        "wires": [
            [
                "ecad79ed.5b1968"
            ]
        ]
    },
    {
        "id": "13e2bb3a.e582b5",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 355,
        "y": 340,
        "wires": [
            [
                "3207ac36.188044"
            ]
        ]
    },
    {
        "id": "c0b0da34.f49658",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 50)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "d97bc331.4827c",
                "dae5e833.ae22a8"
            ]
        ]
    },
    {
        "id": "5ff370f2.f1ac",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 0), 1)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "2d7c056e.9c1e8a",
                "d37d6b3.b912898"
            ]
        ]
    },
    {
        "id": "9564725d.5972e",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 0), 1)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "dfc56ee1.6ffd1",
                "e5d5fe28.e9e61"
            ]
        ]
    },
    {
        "id": "f48ac120.12d8f",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 50)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "df4b8322.7bdd9",
                "b09fade1.64055"
            ]
        ]
    },
    {
        "id": "4d170fa8.1d396",
        "type": "subflow:ee8236a3.7cf7c8",
        "z": "35dd499b.01a916",
        "name": "",
        "env": [],
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "62ac1b7f.c83324"
            ]
        ]
    },
    {
        "id": "e88e94c2.2a581",
        "type": "function",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "const payload = JSON.parse(msg.payload)\nconst isOn = payload.voltage > 3\nreturn {\n  topic: \"limitXMin\",\n  payload: isOn\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "48e35281.2df614"
            ]
        ]
    },
    {
        "id": "866f2607.5107f8",
        "type": "function",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "const payload = JSON.parse(msg.payload)\nconst isOn = payload.voltage > 3\nreturn {\n  topic: \"limitXMax\",\n  payload: isOn\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ac630bce.052528"
            ]
        ]
    },
    {
        "id": "38a2e467.27e6cc",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "set globals",
        "rules": [
            {
                "t": "set",
                "p": "positionXInPulses",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "hasHome",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1f117547.f829eb",
        "type": "function",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "func": "return {\n  topic: \"pulseX\",\n  payload: {\n    direction: \"right\",\n    count: 1000\n  }      \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "e80f19a6.3eabc"
            ]
        ]
    },
    {
        "id": "4dfb1135.8fb99",
        "type": "function",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "func": "return {\n  topic: \"pulseX\",\n  payload: {\n    direction: \"left\",\n    count: 1\n  }      \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 220,
        "wires": [
            [
                "d1191c99.e62668"
            ]
        ]
    },
    {
        "id": "eb8819cd.ec60d",
        "type": "link out",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "links": [
            "4833bc32.ca157c",
            "d1d1efc4.d5c5e"
        ],
        "x": 135,
        "y": 180,
        "wires": []
    },
    {
        "id": "4833bc32.ca157c",
        "type": "link in",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "links": [
            "eb8819cd.ec60d"
        ],
        "x": 515,
        "y": 280,
        "wires": [
            [
                "e80f19a6.3eabc"
            ]
        ]
    },
    {
        "id": "d1d1efc4.d5c5e",
        "type": "link in",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "links": [
            "eb8819cd.ec60d"
        ],
        "x": 1055,
        "y": 260,
        "wires": [
            [
                "d1191c99.e62668"
            ]
        ]
    },
    {
        "id": "d6dd9b58.7d00b8",
        "type": "switch",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "2a403b26.8cacdc"
            ]
        ]
    },
    {
        "id": "d9ec87cb.c96608",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "b37498a5.e0156"
            ],
            []
        ]
    },
    {
        "id": "6565b544.855d6c",
        "type": "while-loop",
        "z": "1f486bbe.2722dc",
        "name": "",
        "condi": "global.get(\"limitXMax\") === false ",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "a4f94d93.ae0b4"
            ],
            [
                "c63a42b7.128228"
            ]
        ]
    },
    {
        "id": "a4f94d93.ae0b4",
        "type": "while-loop",
        "z": "1f486bbe.2722dc",
        "name": "",
        "condi": "global.get(\"limitXMax\") === true",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "bef5d326.492dc8"
            ],
            [
                "6f9ffe2b.fce3b"
            ]
        ]
    },
    {
        "id": "e1abe020.4dfaf8",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "1f486bbe.2722dc",
        "name": "",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "6565b544.855d6c"
            ],
            [
                "6565b544.855d6c"
            ]
        ]
    },
    {
        "id": "74bd0e65.f01e08",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "1f486bbe.2722dc",
        "name": "",
        "x": 920,
        "y": 220,
        "wires": [
            [
                "a4f94d93.ae0b4"
            ],
            [
                "a4f94d93.ae0b4"
            ]
        ]
    },
    {
        "id": "c63a42b7.128228",
        "type": "function",
        "z": "1f486bbe.2722dc",
        "name": "",
        "func": "return {\n  topic: \"pulseX\",\n  payload: {\n    direction: \"left\",\n    count: 1\n  }      \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "e1abe020.4dfaf8"
            ]
        ]
    },
    {
        "id": "6f9ffe2b.fce3b",
        "type": "function",
        "z": "1f486bbe.2722dc",
        "name": "",
        "func": "return {\n  topic: \"pulseX\",\n  payload: {\n    direction: \"right\",\n    count: 1\n  }      \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "74bd0e65.f01e08"
            ]
        ]
    },
    {
        "id": "4689d84f.74b54",
        "type": "link out",
        "z": "1f486bbe.2722dc",
        "name": "",
        "links": [],
        "x": 105,
        "y": 160,
        "wires": []
    },
    {
        "id": "30c27a10.5e7c5e",
        "type": "link in",
        "z": "1f486bbe.2722dc",
        "name": "",
        "links": [],
        "x": 275,
        "y": 280,
        "wires": [
            [
                "e1abe020.4dfaf8"
            ]
        ]
    },
    {
        "id": "a44f754c.c1fd8",
        "type": "link in",
        "z": "1f486bbe.2722dc",
        "name": "",
        "links": [],
        "x": 815,
        "y": 260,
        "wires": [
            [
                "74bd0e65.f01e08"
            ]
        ]
    },
    {
        "id": "ad13c993.2a5bd8",
        "type": "switch",
        "z": "1f486bbe.2722dc",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "calibrateMax",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6565b544.855d6c"
            ]
        ]
    },
    {
        "id": "bdcc5e07.e28ae8",
        "type": "debug",
        "z": "1f486bbe.2722dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 60,
        "wires": []
    },
    {
        "id": "bef5d326.492dc8",
        "type": "change",
        "z": "1f486bbe.2722dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "positionXInPulses",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 120,
        "wires": [
            [
                "bdcc5e07.e28ae8"
            ]
        ]
    },
    {
        "id": "da32b4ba.4649f8",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Calibrate Max",
        "group": "dc7dab5f.c3f838",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibrate Max",
        "tooltip": "",
        "color": "",
        "bgcolor": "#6a1b9a",
        "icon": "fa-crosshairs",
        "payload": "true",
        "payloadType": "bool",
        "topic": "calibrateMax",
        "topicType": "str",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "96ff5e4.2549f2",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "96ff5e4.2549f2",
        "type": "subflow:1f486bbe.2722dc",
        "z": "35dd499b.01a916",
        "name": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "469b1d8.1c22ce4"
            ]
        ]
    },
    {
        "id": "2899590b.9ff636",
        "type": "link in",
        "z": "35dd499b.01a916",
        "name": "",
        "links": [
            "62ac1b7f.c83324"
        ],
        "x": 355,
        "y": 500,
        "wires": [
            [
                "96ff5e4.2549f2"
            ]
        ]
    },
    {
        "id": "97ebf6f8.1c3128",
        "type": "inject",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "dea50797.f9bc98"
            ]
        ]
    },
    {
        "id": "dea50797.f9bc98",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "positionXInPulses",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "95a40bbd.0962a8",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "positionXInPulses",
        "payloadType": "global",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "236de3e1.c12b54"
            ]
        ]
    },
    {
        "id": "236de3e1.c12b54",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "fa964865.1a966",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position X (in pulses)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "6cd7a352.6c8dfc",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "CONSTANT: calibrationDistanceXInMeters",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.31021",
        "payloadType": "num",
        "x": 430,
        "y": 740,
        "wires": [
            [
                "4c7f8a9b.a0b174"
            ]
        ]
    },
    {
        "id": "3a65d7c3.349d3",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "CONSTANT: calibrationDistanceXInPulses",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25000",
        "payloadType": "num",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "a6f2e934.ea20c"
            ]
        ]
    },
    {
        "id": "1af38424.d4b0ec",
        "type": "function",
        "z": "d494211d.17046",
        "name": "calculate global.pulsesPerMeter",
        "func": "const calibrationDistanceXInPulses = global.get(\"calibrationDistanceXInPulses\")\nconst calibrationDistanceXInMeters = global.get(\"calibrationDistanceXInMeters\")\n\nconst pulsesPerMeter = calibrationDistanceXInPulses / calibrationDistanceXInMeters\n\nglobal.set(\"pulsesPerMeter\", pulsesPerMeter)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a6f2e934.ea20c",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "calibrationDistanceXInPulses",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 780,
        "wires": [
            [
                "1af38424.d4b0ec"
            ]
        ]
    },
    {
        "id": "4c7f8a9b.a0b174",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "calibrationDistanceXInMeters",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "1af38424.d4b0ec"
            ]
        ]
    },
    {
        "id": "945f1e27.e5bb3",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "CONSTANT: maxDistanceXInPulses",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "28400",
        "payloadType": "num",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "b8617550.cf4ec8"
            ]
        ]
    },
    {
        "id": "b8617550.cf4ec8",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxDistanceXInPulses",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "237aa54c.21ccaa",
        "type": "inject",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "8cb43108.d0eca"
            ]
        ]
    },
    {
        "id": "8cb43108.d0eca",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasHome",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2a403b26.8cacdc",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasHome",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "a191c67d.91a57"
            ]
        ]
    },
    {
        "id": "5120c2ab.8adbe4",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hasHome",
        "payloadType": "global",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "38dcdc94.0675fc"
            ]
        ]
    },
    {
        "id": "38dcdc94.0675fc",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "fa964865.1a966",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Has Home",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "6337a846.34ee2",
        "type": "template",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/root/step-pulse-{{payload.speed}}.csv {{payload.count}}",
        "output": "str",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "ff237c4d.5d766"
            ]
        ]
    },
    {
        "id": "d236bfaa.f297d8",
        "type": "function",
        "z": "8f0de7bc.a4daa8",
        "name": "round count and default speed",
        "func": "msg.payload.count = Math.round(msg.payload.count)\nmsg.payload.speed = msg.payload.speed || \"slow\"\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "d1c85ac8.53d0e",
                "741753e5.390254"
            ]
        ]
    },
    {
        "id": "d297ce4d.a88768",
        "type": "ui_switch",
        "z": "35dd499b.01a916",
        "name": "",
        "label": "Pulse speed (on = fast, off = slow)",
        "tooltip": "",
        "group": "fa964865.1a966",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "speed",
        "topicType": "str",
        "style": "",
        "onvalue": "fast",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "slow",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "735ff7c.e3a8408"
            ]
        ]
    },
    {
        "id": "f560addf.f7bea",
        "type": "inject",
        "z": "35dd499b.01a916",
        "name": "slow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "slow",
        "payloadType": "str",
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "d297ce4d.a88768"
            ]
        ]
    },
    {
        "id": "735ff7c.e3a8408",
        "type": "change",
        "z": "35dd499b.01a916",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse.speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "e27b1ebb.13ca28",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Move left one grid unit",
        "group": "26a03a7.87265c6",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move left one grid unit",
        "tooltip": "",
        "color": "",
        "bgcolor": "#1976d2",
        "icon": "fa-step-forward",
        "payload": "left",
        "payloadType": "str",
        "topic": "moveSideOneGridUnit",
        "topicType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "3207ac36.188044",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "ed33312c.d1f158",
        "type": "subflow:5dd3baf0.31563c",
        "z": "24fd40b4.361c5",
        "name": "",
        "x": 590,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2a587574.4ae76a",
        "type": "ui_button",
        "z": "35dd499b.01a916",
        "name": "Move right one grid unit",
        "group": "26a03a7.87265c6",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move right one grid unit",
        "tooltip": "",
        "color": "",
        "bgcolor": "#1976d2",
        "icon": "fa-step-backward",
        "payload": "right",
        "payloadType": "str",
        "topic": "moveSideOneGridUnit",
        "topicType": "str",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "3207ac36.188044",
                "6611391e.44f948"
            ]
        ]
    },
    {
        "id": "c94d2eaa.1745c8",
        "type": "function",
        "z": "24fd40b4.361c5",
        "name": "",
        "func": "if (msg.topic !== \"moveSideOneGridUnit\") return msg\n\nif (msg.payload !== \"left\" && msg.payload !== \"right\") {\n  throw new Error(\"expected msg.payload as either left or right\")\n}\n\nreturn {\n  topic: \"moveX\",\n  payload: {\n    distance: 0.04,\n    direction: msg.payload,\n    speed: \"fast\"\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "ed33312c.d1f158"
            ]
        ]
    },
    {
        "id": "7400b6b9.ce9e7",
        "type": "subflow:78eabbd8.6c2dbc",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 380,
        "y": 320,
        "wires": [
            []
        ]
    }
]