flows.json
[
    {
        "id": "b994d15a.89c23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1b260dec.8a96b2",
        "type": "tab",
        "label": "PWM test",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d494211d.17046",
        "type": "tab",
        "label": "Machine Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f7534bd.46d43c",
        "type": "tab",
        "label": "Machine Actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f0de7bc.a4daa8",
        "type": "subflow",
        "name": "Stepper Pulses",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "3e82ebbb.4acadc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1360,
                "y": 340,
                "wires": [
                    {
                        "id": "b37498a5.e0156",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "5dd3baf0.31563c",
        "type": "subflow",
        "name": "Stepper Distance",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 40,
                "wires": [
                    {
                        "id": "ddb2baf8.535a88"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 40,
                "wires": [
                    {
                        "id": "a6117ff0.ed8fb",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "ee8236a3.7cf7c8",
        "type": "subflow",
        "name": "Limit Switches",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1400,
                "y": 180,
                "wires": [
                    {
                        "id": "5f67becc.bbc608",
                        "port": 0
                    },
                    {
                        "id": "9a3ecde0.159a18",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "78eabbd8.6c2dbc",
        "type": "subflow",
        "name": "Go Home",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 120,
                "wires": [
                    {
                        "id": "a191c67d.91a57"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 340,
                "wires": [
                    {
                        "id": "dee13df7.422d5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "a4de32d5.4d7bb",
        "type": "subflow",
        "name": "Drill Up and Down",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 180,
                "wires": [
                    {
                        "id": "eda1ba79.a9e258"
                    },
                    {
                        "id": "71245a16.905864"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 180,
                "wires": [
                    {
                        "id": "eda1ba79.a9e258",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "289569eb.ed7136",
        "type": "subflow",
        "name": "Run Full Cycle",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "1a48ba58.868876"
                    },
                    {
                        "id": "6003c2e6.e5922c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 340,
                "wires": [
                    {
                        "id": "721b742c.23cb9c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "24fd40b4.361c5",
        "type": "subflow",
        "name": "Move Side One Grid Unit",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 200,
                "wires": [
                    {
                        "id": "21a77079.06733"
                    },
                    {
                        "id": "1ecbd24.6b2c72e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 200,
                "wires": [
                    {
                        "id": "21a77079.06733",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "f30d0fc.6c9fdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d741f87.120d9",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64b07586.8c0c44",
        "type": "ui_group",
        "name": "Standard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc7dab5f.c3f838",
        "type": "ui_group",
        "name": "Machine Calibration",
        "tab": "873084f2.462fe8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a0c54756.0480d8",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "873084f2.462fe8",
        "type": "ui_tab",
        "name": "Machine Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7436ae04.20b41",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "26a03a7.87265c6",
        "type": "ui_group",
        "name": "Machine Actions",
        "tab": "873084f2.462fe8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "91c2e7e9.4deab8",
        "type": "ui_group",
        "name": "Machine Config",
        "tab": "873084f2.462fe8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9701fa46.351088",
        "type": "ui_group",
        "name": "Machine Config Preview",
        "tab": "873084f2.462fe8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fa964865.1a966",
        "type": "ui_group",
        "name": "Machine Debug",
        "tab": "873084f2.462fe8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e53de19.e3db6",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "relay-exp ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Execute Relay Control ",
        "x": 1940,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f7c1a3bf.66a4c",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 1 ON",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 740,
        "wires": [
            [
                "59d083e0.70e55c"
            ]
        ]
    },
    {
        "id": "184b6a4b.2ece06",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "DOWN (RELAY 1) Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DOWN",
        "payloadType": "str",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "7b204ac4.5d2974"
            ]
        ]
    },
    {
        "id": "5e672164.7cd78",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "Relay 1 ON?",
        "property": "Relay1_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 760,
        "wires": [
            [
                "f7c1a3bf.66a4c"
            ],
            [
                "b6c055e2.21bb38"
            ]
        ]
    },
    {
        "id": "b6c055e2.21bb38",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 1 OFF",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 780,
        "wires": [
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "f5d7d1.a4b8783",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "close relay after delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 760,
        "wires": [
            [
                "7a27fdb7.4235a4"
            ]
        ]
    },
    {
        "id": "59d083e0.70e55c",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "check relay 0 is off",
        "property": "Relay0_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 680,
        "wires": [
            [],
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "1821eb84.f275a4",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Relay1_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "77f0363a.b673a8",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button LOCKED",
        "rules": [
            {
                "t": "set",
                "p": "DOWN_STATUS",
                "pt": "flow",
                "to": "locked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down button locked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 860,
        "wires": [
            [
                "5e672164.7cd78",
                "b0ed5ba1.b28ef8"
            ]
        ]
    },
    {
        "id": "7b204ac4.5d2974",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "ignore re-pressing",
        "property": "DOWN_STATUS",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 800,
        "wires": [
            [],
            [
                "f5d7d1.a4b8783",
                "77f0363a.b673a8"
            ]
        ]
    },
    {
        "id": "7a27fdb7.4235a4",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button UNLOCKED",
        "rules": [
            {
                "t": "set",
                "p": "DOWN_STATUS",
                "pt": "flow",
                "to": "unlocked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down button unlocked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 820,
        "wires": [
            [
                "5e672164.7cd78",
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "9533b6.86eafc48",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "relay1 off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 360,
        "y": 940,
        "wires": [
            [
                "1821eb84.f275a4"
            ]
        ]
    },
    {
        "id": "67d190e7.ef9c7",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "a7acc076.3711",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "relay 0 off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "67d190e7.ef9c7"
            ]
        ]
    },
    {
        "id": "47415055.76855",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 0 ON",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 580,
        "wires": [
            [
                "d6ad81a4.6bcdb"
            ]
        ]
    },
    {
        "id": "cb975ba4.8b8448",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "UP (RELAY 0) Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "UP",
        "payloadType": "str",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "b97ef811.4818c8"
            ]
        ]
    },
    {
        "id": "8517a213.fec7d",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "Relay 0 ON?",
        "property": "Relay0_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "47415055.76855"
            ],
            [
                "ed977d46.41afa"
            ]
        ]
    },
    {
        "id": "ed977d46.41afa",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Turn Relay 0 OFF",
        "rules": [
            {
                "t": "set",
                "p": "Relay0_ON",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 620,
        "wires": [
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "e91bc303.4d349",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "close relay after delay",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "9b66788a.faa3a8"
            ]
        ]
    },
    {
        "id": "d6ad81a4.6bcdb",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "check relay 1 is off",
        "property": "Relay1_ON",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 580,
        "wires": [
            [],
            [
                "7e53de19.e3db6"
            ]
        ]
    },
    {
        "id": "6753eab2.641c04",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button LOCKED",
        "rules": [
            {
                "t": "set",
                "p": "UP_STATUS",
                "pt": "flow",
                "to": "locked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up button locked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "8517a213.fec7d",
                "b690fd4d.0f1a9"
            ]
        ]
    },
    {
        "id": "b97ef811.4818c8",
        "type": "switch",
        "z": "b994d15a.89c23",
        "name": "ignore re-pressing",
        "property": "UP_STATUS",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 560,
        "wires": [
            [],
            [
                "e91bc303.4d349",
                "6753eab2.641c04"
            ]
        ]
    },
    {
        "id": "9b66788a.faa3a8",
        "type": "change",
        "z": "b994d15a.89c23",
        "name": "Button UNLOCKED",
        "rules": [
            {
                "t": "set",
                "p": "UP_STATUS",
                "pt": "flow",
                "to": "unlocked",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up button unlocked",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 580,
        "wires": [
            [
                "8517a213.fec7d",
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "60b7aa76.1949b4",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set uart2 pwm23",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Inititalize Status LED",
        "x": 1540,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "56119893.28dbd8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\x00\\xff\\x00' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED GREEN",
        "x": 1150,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b690fd4d.0f1a9",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\xff\\x00\\x00' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED RED",
        "x": 1160,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b0ed5ba1.b28ef8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "echo -en '\\x00\\x00\\xff' > /dev/ledchain2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set LED BLUE",
        "x": 1180,
        "y": 900,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8f153935.c97878",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "initialise PWM pins and LEDs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 160,
        "wires": [
            [
                "c8ff7cf.c91fe8",
                "60b7aa76.1949b4"
            ]
        ],
        "icon": "font-awesome/fa-exclamation"
    },
    {
        "id": "c8ff7cf.c91fe8",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set pwm0 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1590,
        "y": 180,
        "wires": [
            [
                "9dcd1b0d.acb748"
            ],
            [],
            []
        ]
    },
    {
        "id": "9dcd1b0d.acb748",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "omega2-ctrl gpiomux set pwm1 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1930,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "82c4e4cd.581c88",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 10 500",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "5e5e1359.46f29c"
            ],
            [],
            []
        ]
    },
    {
        "id": "e923bfe5.529cb",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 disable",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "433c7bde.dab144"
            ],
            [],
            []
        ]
    },
    {
        "id": "ea03f5a8.18dea8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "start stepper motor SLOW",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "82c4e4cd.581c88"
            ]
        ],
        "icon": "font-awesome/fa-play"
    },
    {
        "id": "f0cc58b3.bb6c08",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "stop stepper motor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "msg",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "e923bfe5.529cb"
            ]
        ],
        "icon": "font-awesome/fa-square"
    },
    {
        "id": "433c7bde.dab144",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b72d593.edf7d8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Left",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "dacfa964.086438"
            ]
        ]
    },
    {
        "id": "dacfa964.086438",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "a8a1e955.1eac88",
                "82c4e4cd.581c88"
            ],
            [
                "a8a1e955.1eac88"
            ],
            [
                "a8a1e955.1eac88"
            ]
        ]
    },
    {
        "id": "afcb33d3.5b395",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Right",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "dacfa964.086438"
            ]
        ]
    },
    {
        "id": "9abcb99c.10fd98",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 960,
        "wires": [
            [
                "b0ed5ba1.b28ef8"
            ]
        ]
    },
    {
        "id": "c4b99127.bcf75",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 700,
        "wires": [
            [
                "56119893.28dbd8"
            ]
        ]
    },
    {
        "id": "43233ab7.4f2764",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 460,
        "wires": [
            [
                "b690fd4d.0f1a9"
            ]
        ]
    },
    {
        "id": "a8a1e955.1eac88",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "81511872.2c9368",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "onion pwm 0 1 2400",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "5e5e1359.46f29c"
            ],
            [],
            []
        ]
    },
    {
        "id": "6a47bfca.bf997",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "start stepper motor FAST",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "81511872.2c9368"
            ]
        ],
        "icon": "font-awesome/fa-play"
    },
    {
        "id": "5e5e1359.46f29c",
        "type": "delay",
        "z": "b994d15a.89c23",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "e923bfe5.529cb"
            ]
        ]
    },
    {
        "id": "da8888e0.8eabe8",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Left",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d0b42cef.ec22c"
            ]
        ]
    },
    {
        "id": "d0b42cef.ec22c",
        "type": "exec",
        "z": "b994d15a.89c23",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "77d62dc9.1252a4",
                "81511872.2c9368"
            ],
            [
                "77d62dc9.1252a4"
            ],
            [
                "77d62dc9.1252a4"
            ]
        ]
    },
    {
        "id": "43275c92.f4d404",
        "type": "inject",
        "z": "b994d15a.89c23",
        "name": "Right",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "d0b42cef.ec22c"
            ]
        ]
    },
    {
        "id": "77d62dc9.1252a4",
        "type": "debug",
        "z": "b994d15a.89c23",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "13dd767f.c1a07a",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 50 5000",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "91a34029.4fdef"
            ],
            [
                "91a34029.4fdef"
            ],
            [
                "91a34029.4fdef"
            ]
        ]
    },
    {
        "id": "15b88fac.31fa",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "13dd767f.c1a07a"
            ]
        ]
    },
    {
        "id": "9e2394ee.806838",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set pwm1 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 930,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dee41255.64496",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set pwm0 pwm",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "9e2394ee.806838"
            ],
            [],
            []
        ]
    },
    {
        "id": "5e0fcc3e.32c5d4",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "initialise PWM pins and LEDs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "dee41255.64496",
                "21ef1942.e71f76"
            ]
        ],
        "icon": "font-awesome/fa-exclamation"
    },
    {
        "id": "21ef1942.e71f76",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "omega2-ctrl gpiomux set uart2 pwm23",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Inititalize Status LED",
        "x": 540,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "91a34029.4fdef",
        "type": "debug",
        "z": "1b260dec.8a96b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "98fc6ac4.fe8d98",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 1000 50",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "612e524b.1cf4fc",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "msg",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "98fc6ac4.fe8d98"
            ]
        ]
    },
    {
        "id": "bc430050.85d69",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-low 11",
        "payloadType": "str",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "38951887.99b4e8"
            ]
        ]
    },
    {
        "id": "38951887.99b4e8",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "gpioctl ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "d18f6a53.b9d528"
            ],
            [
                "d18f6a53.b9d528"
            ],
            [
                "d18f6a53.b9d528"
            ]
        ]
    },
    {
        "id": "c0dfbc88.52ecb",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "dirout-high 11",
        "payloadType": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "38951887.99b4e8"
            ]
        ]
    },
    {
        "id": "d18f6a53.b9d528",
        "type": "debug",
        "z": "1b260dec.8a96b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "5ce41b26.7e86a4",
        "type": "exec",
        "z": "1b260dec.8a96b2",
        "command": "onion pwm 0 disable",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b64b1c4a.75619",
        "type": "inject",
        "z": "1b260dec.8a96b2",
        "name": "stop stepper motor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "msg",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "5ce41b26.7e86a4"
            ]
        ],
        "icon": "font-awesome/fa-square"
    },
    {
        "id": "4339b06a.65f148",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set 18 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1090,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "93609213.3351a",
        "type": "exec",
        "z": "ee8236a3.7cf7c8",
        "command": "adc-exp -j 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "3b3bce91.3d3d12"
            ],
            [],
            []
        ]
    },
    {
        "id": "f68ba438.461b3",
        "type": "inject",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": ".1",
        "crontab": "",
        "once": true,
        "onceDelay": ".5",
        "topic": "",
        "payload": "0",
        "payloadType": "msg",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "93609213.3351a"
            ]
        ]
    },
    {
        "id": "5d97b609.8afe",
        "type": "exec",
        "z": "ee8236a3.7cf7c8",
        "command": "adc-exp -j 0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "b04a7626.2616a"
            ],
            [],
            []
        ]
    },
    {
        "id": "63fdb6ec.da1f48",
        "type": "inject",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": ".1",
        "crontab": "",
        "once": true,
        "onceDelay": ".5",
        "topic": "",
        "payload": "0",
        "payloadType": "msg",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "5d97b609.8afe"
            ]
        ]
    },
    {
        "id": "3b3bce91.3d3d12",
        "type": "json",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "333688ca.5c2ba8"
            ]
        ]
    },
    {
        "id": "b04a7626.2616a",
        "type": "json",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "cba04735.778438"
            ]
        ]
    },
    {
        "id": "cba04735.778438",
        "type": "switch",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "property": "payload.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "dcef51cb.dbc34"
            ],
            [
                "50256107.b1b1c8"
            ]
        ]
    },
    {
        "id": "333688ca.5c2ba8",
        "type": "switch",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "property": "payload.voltage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "95799d5e.1bfb08"
            ],
            [
                "e05fb9f9.d9d388"
            ]
        ]
    },
    {
        "id": "ddb2baf8.535a88",
        "type": "function",
        "z": "5dd3baf0.31563c",
        "name": "convert meters to pulses",
        "func": "if (msg.topic !== \"moveX\") return msg\n\nconst distance = msg.payload.distance\nconst direction = msg.payload.direction\nconst pulsesPerMeter = global.get(\"pulsesPerMeter\")\n\nreturn {\n  payload: {\n    count: distance * pulsesPerMeter,\n    direction\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "a6117ff0.ed8fb"
            ]
        ]
    },
    {
        "id": "a6117ff0.ed8fb",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "5dd3baf0.31563c",
        "name": "",
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ff237c4d.5d766",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio pulses 18 /root/step-pulse.csv ",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 930,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "76483914.954a2",
        "type": "catch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "scope": [
            "ff237c4d.5d766"
        ],
        "uncaught": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "4339b06a.65f148"
            ]
        ]
    },
    {
        "id": "88095671.fcc0b",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "366413ee.5e7e54"
            ]
        ]
    },
    {
        "id": "76e4df9.ddc04a",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "f6a58db3.43b1b"
            ]
        ]
    },
    {
        "id": "366413ee.5e7e54",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGINT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "ff237c4d.5d766",
                "dafcb6c5.5df448"
            ]
        ]
    },
    {
        "id": "f6a58db3.43b1b",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "SIGINT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "ff237c4d.5d766",
                "52345f31.e60b3"
            ]
        ]
    },
    {
        "id": "c440a415.45b718",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "switch payload.direction",
        "property": "payload.direction",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "right",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 100,
        "wires": [
            [
                "64c95bd2.bb373c"
            ],
            [
                "a67e4602.384fd"
            ]
        ]
    },
    {
        "id": "684e6cd0.e310cc",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set flow.pulse = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "pulse",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "c440a415.45b718"
            ]
        ]
    },
    {
        "id": "64c95bd2.bb373c",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set 11 0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a67e4602.384fd",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set 11 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "39ecff13.6d2d48",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "omega2-ctrl gpiomux set pwm0 gpio",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "a4ec6688.ac15e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a4ec6688.ac15e8",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set-output 18",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 980,
        "y": 580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c0e7ebdd.ec75c",
        "type": "inject",
        "z": "8f0de7bc.a4daa8",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "39ecff13.6d2d48",
                "49d37433.c3ddb4"
            ]
        ]
    },
    {
        "id": "49d37433.c3ddb4",
        "type": "exec",
        "z": "8f0de7bc.a4daa8",
        "command": "fast-gpio set-output 11",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "95799d5e.1bfb08",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "48e35281.2df614"
            ]
        ]
    },
    {
        "id": "e05fb9f9.d9d388",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "48e35281.2df614"
            ]
        ]
    },
    {
        "id": "dcef51cb.dbc34",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "ac630bce.052528"
            ]
        ]
    },
    {
        "id": "50256107.b1b1c8",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "ac630bce.052528"
            ]
        ]
    },
    {
        "id": "475e9345.d230dc",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set msg.payload = flow.pulse.count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pulse.count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "ff237c4d.5d766"
            ]
        ]
    },
    {
        "id": "4be3d70b.ed6cf",
        "type": "complete",
        "z": "8f0de7bc.a4daa8",
        "name": "after direction set",
        "scope": [
            "64c95bd2.bb373c",
            "a67e4602.384fd"
        ],
        "uncaught": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "475e9345.d230dc"
            ]
        ]
    },
    {
        "id": "b37498a5.e0156",
        "type": "function",
        "z": "8f0de7bc.a4daa8",
        "name": "update global.positionXInPulses",
        "func": "const pulse = flow.get(\"pulse\")\nconst { count, direction } = pulse\n\nconst countVelocity =\n  direction === \"left\"\n    ? count\n    : direction === \"right\"\n      ? -count\n      : 0\n\nconst prevPositionX = global.get(\"positionXInPulses\")\nconst nextPositionX = prevPositionX + countVelocity\n\nglobal.set(\"positionXInPulses\",  nextPositionX)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1130,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3af8c08d.ee32c8",
        "type": "complete",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "scope": [
            "ff237c4d.5d766"
        ],
        "uncaught": false,
        "x": 890,
        "y": 320,
        "wires": [
            [
                "b37498a5.e0156"
            ]
        ]
    },
    {
        "id": "dafcb6c5.5df448",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set global.positonXInPulses = 0",
        "rules": [
            {
                "t": "set",
                "p": "positionX",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "52345f31.e60b3",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "set global.positionXInPulses = global.maxPositionXInPulses",
        "rules": [
            {
                "t": "set",
                "p": "positionX",
                "pt": "global",
                "to": "maxPositionXInPulses",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a191c67d.91a57",
        "type": "while-loop",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "condi": "global.get(\"limitXMin\") === false ",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "f472a191.0841e"
            ],
            [
                "b932dc9.8c627a"
            ]
        ]
    },
    {
        "id": "16f86e16.28288a",
        "type": "debug",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "b932dc9.8c627a",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "continue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "16f86e16.28288a"
            ]
        ]
    },
    {
        "id": "f472a191.0841e",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "break",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 120,
        "wires": [
            [
                "1d05a47c.076c04"
            ]
        ]
    },
    {
        "id": "1d05a47c.076c04",
        "type": "debug",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "dee13df7.422d5",
        "type": "while-loop",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "condi": "global.get(\"limitXMin\") === true",
        "limit": false,
        "limitTime": 10000,
        "time": "wla191c67d91a57",
        "timeType": "msg",
        "x": 830,
        "y": 280,
        "wires": [
            [],
            [
                "3237ea8.f6b0c16"
            ]
        ]
    },
    {
        "id": "e80f19a6.3eabc",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "a191c67d.91a57"
            ]
        ]
    },
    {
        "id": "e9c9f7e1.7b88f",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.count",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.direction",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "e80f19a6.3eabc"
            ]
        ]
    },
    {
        "id": "d1191c99.e62668",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "x": 980,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3237ea8.f6b0c16",
        "type": "change",
        "z": "78eabbd8.6c2dbc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.count",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.direction",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "d1191c99.e62668"
            ]
        ]
    },
    {
        "id": "d1c85ac8.53d0e",
        "type": "function",
        "z": "8f0de7bc.a4daa8",
        "name": "ensure not at limits",
        "func": "if (\n  (msg.payload.direction === \"left\" && !global.get(\"limitXMax\"))\n  || (msg.payload.direction === \"right\" && !global.get(\"limitXMin\"))\n) {\n  return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "684e6cd0.e310cc",
                "741753e5.390254"
            ]
        ]
    },
    {
        "id": "97ebf6f8.1c3128",
        "type": "inject",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "dea50797.f9bc98"
            ]
        ]
    },
    {
        "id": "dea50797.f9bc98",
        "type": "change",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "positionXInPulses",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5f67becc.bbc608",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "msg.topic = limitXMin",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "limitXMin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 140,
        "wires": [
            [
                "da8738e4.5b623"
            ]
        ]
    },
    {
        "id": "9a3ecde0.159a18",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "msg.topic = limitXMax",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "limitXMax",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "1a797a49.9b81c6"
            ]
        ]
    },
    {
        "id": "ef84ec6a.bb5538",
        "type": "ui_text",
        "z": "ee8236a3.7cf7c8",
        "group": "fa964865.1a966",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "limitXMin",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1720,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3152fee.b181b",
        "type": "ui_text",
        "z": "ee8236a3.7cf7c8",
        "group": "fa964865.1a966",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "limitXMax",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1720,
        "y": 240,
        "wires": []
    },
    {
        "id": "3e82ebbb.4acadc",
        "type": "switch",
        "z": "8f0de7bc.a4daa8",
        "name": "switch on msg.topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pulseX",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "limitXMin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "limitXMax",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "d1c85ac8.53d0e"
            ],
            [
                "a3b9d16b.dc066"
            ],
            [
                "dded9fb9.ca8be8"
            ]
        ]
    },
    {
        "id": "a3b9d16b.dc066",
        "type": "link out",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "7c9f2b6b.3275e4"
        ],
        "x": 355,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c9f2b6b.3275e4",
        "type": "link in",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "a3b9d16b.dc066"
        ],
        "x": 335,
        "y": 420,
        "wires": [
            [
                "88095671.fcc0b"
            ]
        ]
    },
    {
        "id": "fc3a3739.bfa0d8",
        "type": "link in",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "dded9fb9.ca8be8"
        ],
        "x": 335,
        "y": 480,
        "wires": [
            [
                "76e4df9.ddc04a"
            ]
        ]
    },
    {
        "id": "dded9fb9.ca8be8",
        "type": "link out",
        "z": "8f0de7bc.a4daa8",
        "name": "",
        "links": [
            "fc3a3739.bfa0d8"
        ],
        "x": 355,
        "y": 180,
        "wires": []
    },
    {
        "id": "da8738e4.5b623",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitXMin",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 140,
        "wires": [
            [
                "ef84ec6a.bb5538"
            ]
        ]
    },
    {
        "id": "1a797a49.9b81c6",
        "type": "change",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitXMax",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 240,
        "wires": [
            [
                "f3152fee.b181b"
            ]
        ]
    },
    {
        "id": "48e35281.2df614",
        "type": "rbe",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "5f67becc.bbc608"
            ]
        ]
    },
    {
        "id": "ac630bce.052528",
        "type": "rbe",
        "z": "ee8236a3.7cf7c8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "9a3ecde0.159a18"
            ]
        ]
    },
    {
        "id": "741753e5.390254",
        "type": "debug",
        "z": "8f0de7bc.a4daa8",
        "name": "debug stepper pulse input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 20,
        "wires": []
    },
    {
        "id": "df4b8322.7bdd9",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfStepsPerCycle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "92dfa816.3848e8",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Number of steps per cycle",
        "label": "Number of steps per cycle",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "f48ac120.12d8f"
            ]
        ]
    },
    {
        "id": "f48ac120.12d8f",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 50)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "df4b8322.7bdd9",
                "b09fade1.64055",
                "92dfa816.3848e8"
            ]
        ]
    },
    {
        "id": "b09fade1.64055",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Number of steps per cycle",
        "label": "Number of steps per cycle",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "497ff420.ab494c",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "f48ac120.12d8f"
            ]
        ]
    },
    {
        "id": "dfc56ee1.6ffd1",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "horizontalMaxSpeedInMetersPerSecond",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "64d62a81.5f11b4",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Horizontal max speed",
        "label": "Horizontal max speed (m/s)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "9564725d.5972e"
            ]
        ]
    },
    {
        "id": "9564725d.5972e",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 0), 1)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "dfc56ee1.6ffd1",
                "e5d5fe28.e9e61",
                "64d62a81.5f11b4"
            ]
        ]
    },
    {
        "id": "e5d5fe28.e9e61",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Horizontal max speed",
        "label": "Horizontal max speed (m/s)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb81bb16.649c48",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "9564725d.5972e"
            ]
        ]
    },
    {
        "id": "2d7c056e.9c1e8a",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "verticalMaxSpeedInMetersPerSecond",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ba7a94b.a823e68",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Vertical max speed",
        "label": "Vertical max speed (m/s)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "5ff370f2.f1ac"
            ]
        ]
    },
    {
        "id": "5ff370f2.f1ac",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 0), 1)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "2d7c056e.9c1e8a",
                "d37d6b3.b912898",
                "ba7a94b.a823e68"
            ]
        ]
    },
    {
        "id": "d37d6b3.b912898",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Vertical max speed",
        "label": "Vertical max speed (m/s)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "dc4e571d.396218",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "5ff370f2.f1ac"
            ]
        ]
    },
    {
        "id": "d97bc331.4827c",
        "type": "change",
        "z": "d494211d.17046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "drillMotorSpeedInRpm",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "391d7e9.35b5482",
        "type": "ui_text_input",
        "z": "d494211d.17046",
        "name": "Drill motor speed",
        "label": "Drill motor speed (rpm)",
        "tooltip": "",
        "group": "91c2e7e9.4deab8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "c0b0da34.f49658"
            ]
        ]
    },
    {
        "id": "c0b0da34.f49658",
        "type": "function",
        "z": "d494211d.17046",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 50)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "d97bc331.4827c",
                "dae5e833.ae22a8",
                "391d7e9.35b5482"
            ]
        ]
    },
    {
        "id": "dae5e833.ae22a8",
        "type": "ui_text",
        "z": "d494211d.17046",
        "group": "9701fa46.351088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Drill motor speed",
        "label": "Drill motor speed (rpm)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c42e30c.93754",
        "type": "inject",
        "z": "d494211d.17046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "c0b0da34.f49658"
            ]
        ]
    },
    {
        "id": "60f31019.f3aa",
        "type": "ui_button",
        "z": "5f7534bd.46d43c",
        "name": "Go to home",
        "group": "26a03a7.87265c6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go to home",
        "tooltip": "",
        "color": "",
        "bgcolor": "#606060",
        "icon": "fa-home",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "d543529b.1c3718",
                "2750e6c9.7871da"
            ]
        ]
    },
    {
        "id": "7bba6700.0024b8",
        "type": "ui_button",
        "z": "5f7534bd.46d43c",
        "name": "Perform one step of cycle",
        "group": "26a03a7.87265c6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Perform one step of cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "#1976d2",
        "icon": "fa-step-forward",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "e7d252a2.7b66e8",
                "2750e6c9.7871da"
            ]
        ]
    },
    {
        "id": "2d5e140b.f4eb7c",
        "type": "ui_button",
        "z": "5f7534bd.46d43c",
        "name": "Start full cycle",
        "group": "26a03a7.87265c6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start full cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "#388e3c",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "920b46c5.f89168",
                "2750e6c9.7871da"
            ]
        ]
    },
    {
        "id": "b2d1a816.aef8f8",
        "type": "ui_button",
        "z": "5f7534bd.46d43c",
        "name": "Stop cycle",
        "group": "26a03a7.87265c6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop cycle",
        "tooltip": "",
        "color": "",
        "bgcolor": "#d32f2f",
        "icon": "fa-stop",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1d3de1d6.be687e",
        "type": "ui_text",
        "z": "5f7534bd.46d43c",
        "group": "26a03a7.87265c6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Machine status",
        "label": "Machine status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "d57b44b.10107b8",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "Initialize as stopped",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "f8672894.b7e748"
            ]
        ]
    },
    {
        "id": "88c44f84.9beb",
        "type": "debug",
        "z": "a4de32d5.4d7bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "eda1ba79.a9e258",
        "type": "delay",
        "z": "a4de32d5.4d7bb",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "2d241a46.445d26"
            ]
        ]
    },
    {
        "id": "bed71cf4.37b5e",
        "type": "subflow:a4de32d5.4d7bb",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 750,
        "y": 480,
        "wires": [
            [
                "3a376647.46e26a"
            ]
        ]
    },
    {
        "id": "920b46c5.f89168",
        "type": "subflow:289569eb.ed7136",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "f8672894.b7e748"
            ]
        ]
    },
    {
        "id": "2d241a46.445d26",
        "type": "function",
        "z": "a4de32d5.4d7bb",
        "name": "",
        "func": "\nreturn {\n    payload: \"finished drilling hole \" + msg.payload\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "88c44f84.9beb"
            ]
        ]
    },
    {
        "id": "71245a16.905864",
        "type": "function",
        "z": "a4de32d5.4d7bb",
        "name": "",
        "func": "\nreturn {\n    payload: \"started drilling hole \" + msg.payload\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "88c44f84.9beb"
            ]
        ]
    },
    {
        "id": "b0764283.1ea2d",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "bed71cf4.37b5e"
            ]
        ]
    },
    {
        "id": "b1fd09e0.ad83f8",
        "type": "debug",
        "z": "24fd40b4.361c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "21a77079.06733",
        "type": "delay",
        "z": "24fd40b4.361c5",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "72b8d4a6.735adc"
            ]
        ]
    },
    {
        "id": "1ecbd24.6b2c72e",
        "type": "change",
        "z": "24fd40b4.361c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "started horizontal translation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "b1fd09e0.ad83f8"
            ]
        ]
    },
    {
        "id": "72b8d4a6.735adc",
        "type": "change",
        "z": "24fd40b4.361c5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "finished horizontal translation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "b1fd09e0.ad83f8"
            ]
        ]
    },
    {
        "id": "fb30550b.60f5c8",
        "type": "subflow:24fd40b4.361c5",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 770,
        "y": 560,
        "wires": [
            [
                "51b5ec9a.4d2874"
            ]
        ]
    },
    {
        "id": "3a376647.46e26a",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "fb30550b.60f5c8"
            ]
        ]
    },
    {
        "id": "3bbaba0c.fc9f16",
        "type": "debug",
        "z": "289569eb.ed7136",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a48ba58.868876",
        "type": "change",
        "z": "289569eb.ed7136",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "started full cycle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "3bbaba0c.fc9f16"
            ]
        ]
    },
    {
        "id": "6d8bea99.866884",
        "type": "change",
        "z": "289569eb.ed7136",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "finished full cycle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "3bbaba0c.fc9f16"
            ]
        ]
    },
    {
        "id": "6003c2e6.e5922c",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "7400b6b9.ce9e7"
            ]
        ]
    },
    {
        "id": "721b742c.23cb9c",
        "type": "delay",
        "z": "289569eb.ed7136",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1120,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7400b6b9.ce9e7",
        "type": "subflow:78eabbd8.6c2dbc",
        "z": "289569eb.ed7136",
        "name": "",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "51b5ec9a.4d2874"
            ]
        ]
    },
    {
        "id": "f8672894.b7e748",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "machine status = stopped",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "machineStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "1d3de1d6.be687e"
            ]
        ]
    },
    {
        "id": "2750e6c9.7871da",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "machine status = started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "started",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "machineStatus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "1d3de1d6.be687e"
            ]
        ]
    },
    {
        "id": "d543529b.1c3718",
        "type": "subflow:78eabbd8.6c2dbc",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "f8672894.b7e748"
            ]
        ]
    },
    {
        "id": "e7d252a2.7b66e8",
        "type": "subflow:a4de32d5.4d7bb",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "5b44baf8.7a94f4"
            ]
        ]
    },
    {
        "id": "5b44baf8.7a94f4",
        "type": "subflow:24fd40b4.361c5",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "f8672894.b7e748"
            ]
        ]
    },
    {
        "id": "51b5ec9a.4d2874",
        "type": "counter-loop",
        "z": "289569eb.ed7136",
        "name": "",
        "counter": "il51b5ec9a4d2874",
        "counterType": "msg",
        "reset": false,
        "resetValue": "value-null",
        "initial": 0,
        "initialType": "num",
        "operator": "lt",
        "termination": "numberOfStepsPerCycle",
        "terminationType": "global",
        "increment": 1,
        "incrementType": "num",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "721b742c.23cb9c",
                "6d8bea99.866884"
            ],
            [
                "b0764283.1ea2d"
            ]
        ]
    },
    {
        "id": "e3fdd904.f838b8",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "Travel 0.1m",
        "props": [
            {
                "p": "payload.distance",
                "v": "0.1",
                "vt": "num"
            },
            {
                "p": "payload.direction",
                "v": "left",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "moveX",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "83143ff3.f2844"
            ]
        ]
    },
    {
        "id": "83143ff3.f2844",
        "type": "subflow:5dd3baf0.31563c",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "233d103e.2d0d9",
        "type": "subflow:ee8236a3.7cf7c8",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 1210,
        "y": 380,
        "wires": [
            [
                "4cc6813c.45dba8"
            ]
        ]
    },
    {
        "id": "aaa72553.4103",
        "type": "subflow:8f0de7bc.a4daa8",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 740,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a4411a11.4707b",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "Step 5000 Pulses",
        "props": [
            {
                "p": "payload.count",
                "v": "5000",
                "vt": "num"
            },
            {
                "p": "payload.direction",
                "v": "left",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pulseX",
        "payloadType": "str",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "aaa72553.4103"
            ]
        ]
    },
    {
        "id": "d528871c.ed8478",
        "type": "ui_button",
        "z": "5f7534bd.46d43c",
        "name": "",
        "group": "fa964865.1a966",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pulse",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pulse",
        "payloadType": "flow",
        "topic": "pulse",
        "topicType": "str",
        "x": 360,
        "y": 920,
        "wires": [
            [
                "67ac731d.6a97b4"
            ]
        ]
    },
    {
        "id": "319b631f.4c42cc",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse.count",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "8488bdf2.e6d3f8",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "CONSTANT: maxPositionXInMeters",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.4",
        "payloadType": "num",
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "df42b051.9f3278"
            ]
        ]
    },
    {
        "id": "c07f1631.4975c",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "CONSTANT: maxPositionXInPulses",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20000",
        "payloadType": "num",
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "443fe6a7.4c07c8"
            ]
        ]
    },
    {
        "id": "443fe6a7.4c07c8",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxPositionXInPulses",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1380,
        "wires": [
            [
                "fc6938fe.d79f8"
            ]
        ]
    },
    {
        "id": "df42b051.9f3278",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxPositionXInMeters",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1340,
        "wires": [
            [
                "fc6938fe.d79f8"
            ]
        ]
    },
    {
        "id": "fc6938fe.d79f8",
        "type": "function",
        "z": "5f7534bd.46d43c",
        "name": "calculate global.pulsesPerMeter",
        "func": "const maxPositionXInPulses = global.get(\"maxPositionXInPulses\")\nconst maxPositionXInMeters = global.get(\"maxPositionXInMeters\")\n\nconst pulsesPerMeter = maxPositionXInPulses / maxPositionXInMeters\n\nglobal.set(\"pulsesPerMeter\", pulsesPerMeter)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "f818d1db.bd1f9",
        "type": "ui_switch",
        "z": "5f7534bd.46d43c",
        "name": "",
        "label": "Pulse direction (on = left, off = right)",
        "tooltip": "",
        "group": "fa964865.1a966",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "pulseDirection",
        "topicType": "str",
        "style": "",
        "onvalue": "left",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "right",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "741336ae.a9b6b"
            ]
        ]
    },
    {
        "id": "7d5ab2de.febe04",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "left",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "x": 400,
        "y": 1120,
        "wires": [
            [
                "f818d1db.bd1f9"
            ]
        ]
    },
    {
        "id": "741336ae.a9b6b",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pulse.direction",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "67ac731d.6a97b4",
        "type": "change",
        "z": "5f7534bd.46d43c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pulse",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pulseX",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "aaa72553.4103"
            ]
        ]
    },
    {
        "id": "8c70ee40.193758",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "b4f713ec.e285b8"
            ]
        ]
    },
    {
        "id": "b4f713ec.e285b8",
        "type": "subflow:78eabbd8.6c2dbc",
        "z": "5f7534bd.46d43c",
        "name": "",
        "x": 600,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "2993afcb.b1048",
        "type": "ui_text_input",
        "z": "5f7534bd.46d43c",
        "name": "Pulse count",
        "label": "Pulse count",
        "tooltip": "",
        "group": "fa964865.1a966",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "66aab751.a36608"
            ]
        ]
    },
    {
        "id": "66aab751.a36608",
        "type": "function",
        "z": "5f7534bd.46d43c",
        "name": "",
        "func": "\nreturn {\n    payload: Math.min(Math.max(msg.payload, 1), 10000)\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "2993afcb.b1048",
                "319b631f.4c42cc"
            ]
        ]
    },
    {
        "id": "b7054ea6.ba658",
        "type": "inject",
        "z": "5f7534bd.46d43c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5000",
        "payloadType": "num",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "66aab751.a36608"
            ]
        ]
    },
    {
        "id": "4cc6813c.45dba8",
        "type": "link out",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "a326e7c0.e25c7",
            "245e22bf.702efe",
            "5728fce8.0c5814",
            "aeeb9bfe.1fc59",
            "c9a3292a.e37818",
            "17dd5011.a27a3"
        ],
        "x": 1345,
        "y": 380,
        "wires": []
    },
    {
        "id": "a326e7c0.e25c7",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 615,
        "y": 580,
        "wires": [
            [
                "83143ff3.f2844"
            ]
        ]
    },
    {
        "id": "245e22bf.702efe",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 615,
        "y": 800,
        "wires": [
            [
                "aaa72553.4103"
            ]
        ]
    },
    {
        "id": "5728fce8.0c5814",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 395,
        "y": 140,
        "wires": [
            [
                "d543529b.1c3718"
            ]
        ]
    },
    {
        "id": "aeeb9bfe.1fc59",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 315,
        "y": 260,
        "wires": [
            [
                "e7d252a2.7b66e8"
            ]
        ]
    },
    {
        "id": "c9a3292a.e37818",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 535,
        "y": 260,
        "wires": [
            [
                "5b44baf8.7a94f4"
            ]
        ]
    },
    {
        "id": "17dd5011.a27a3",
        "type": "link in",
        "z": "5f7534bd.46d43c",
        "name": "",
        "links": [
            "4cc6813c.45dba8"
        ],
        "x": 355,
        "y": 360,
        "wires": [
            [
                "920b46c5.f89168"
            ]
        ]
    }
]